[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Piper McCorkle
	email = piper@ladderlife.com
[credential]
	helper = ""
	helper = manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[alias]
	co = checkout
	new-branch = co -b
	nb = new-branch
